frontend/src/index.css [146:151]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  border: none !important;
  border-radius: 4px !important;
  color: white !important;
  white-space: normal !important;
  overflow: visible !important;
}
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



frontend/src/index.css [227:232]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  border: none !important;
  border-radius: 4px !important;
  color: white !important;
  white-space: normal !important;
  overflow: visible !important;
}
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



