frontend/src/index.css [172:177]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  border: none !important;
  border-radius: 6px !important;
  color: white !important;
  white-space: normal !important;
  overflow: visible !important;
  font-weight: 500 !important;
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



frontend/src/index.css [270:275]:
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  border: none !important;
  border-radius: 6px !important;
  color: white !important;
  white-space: normal !important;
  overflow: visible !important;
  font-weight: 500 !important;
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -



